<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>
<body>
    <!--we can access partials-->
    {{>header}}
    <!--we can access values we provided to the template-->
    <p>Created by {{name}}</p>
</body>
</html>